<div class="container">
  <div *ngIf="!user; else loggedUser" class="main">
    <h3>Please Log In</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <button class="btn btn-block btn-social btn-lg btn-google" (click)="signInWithGoogle()"><i
          class="fa fa-google"></i>
          Join Adamars with Google Log In
        </button>
      </div>
    </div>

    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">or</span>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <button class="btn btn-block btn-social btn-lg btn-facebook" (click)="signInWithFB()"><i
          class="fa fa-facebook"></i>
          Join Adamars with Facebook Log In
        </button>
      </div>
    </div>
  </div>

  <ng-template #loggedUser>
    <div class="main">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          {{ user.name }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          {{ user.email }}
        </div>
      </div>
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
      <button class="btn btn-success" (click)="signOut()">Continue</button>
    </div>
  </ng-template>
</div>
